In [18]:
import pandas as pd
import numpy as np

In [19]:
races = pd.read_csv('data/races.csv')
results = pd.read_csv('data/results.csv')
driver_standings = pd.read_csv('data/driver_standings.csv')
constructor_standings = pd.read_csv('data/constructor_standings.csv')
weather = pd.read_csv('data/weather.csv')

print('races: ', races.shape)
print('results: ', results.shape)
print('ds: ', driver_standings.shape)
print('cs: ', constructor_standings.shape)
print('weather: ', weather.shape)

races:  (586, 7)
results:  (13230, 15)
ds:  (13455, 9)
cs:  (6662, 9)
weather:  (586, 9)

In [20]:
races.head()

,season,round,url,raceName,date,circuitID,country
0,1990,1,http://en.wikipedia.org/wiki/1990_United_State...,United States Grand Prix,1990-03-11,phoenix,USA
1,1990,2,http://en.wikipedia.org/wiki/1990_Brazilian_Gr...,Brazilian Grand Prix,1990-03-25,interlagos,Brazil
2,1990,3,http://en.wikipedia.org/wiki/1990_San_Marino_G...,San Marino Grand Prix,1990-05-13,imola,Italy
3,1990,4,http://en.wikipedia.org/wiki/1990_Monaco_Grand...,Monaco Grand Prix,1990-05-27,monaco,Monaco
4,1990,5,http://en.wikipedia.org/wiki/1990_Canadian_Gra...,Canadian Grand Prix,1990-06-10,villeneuve,Canada

In [21]:
results.drop('Time', inplace=True, axis=1)
results.head()

,number,position,positionText,grid,points,driverID,driver,nationality,constructorID,constructor,laps,status,season,round
0,27,1,1,5,9.0,senna,Ayrton Senna,Brazilian,mclaren,McLaren,72,Finished,1990,1
1,4,2,2,4,6.0,alesi,Jean Alesi,French,tyrrell,Tyrrell,72,Finished,1990,1
2,5,3,3,9,4.0,boutsen,Thierry Boutsen,Belgian,williams,Williams,72,Finished,1990,1
3,20,4,4,6,3.0,piquet,Nelson Piquet,Brazilian,benetton,Benetton,72,Finished,1990,1
4,8,5,5,10,2.0,modena,Stefano Modena,Italian,brabham,Brabham,72,Finished,1990,1

In [22]:
driver_standings.drop(['driver_points_after_race', 'driver_wins_after_race', 'driver_standings_pos_after_race'] ,axis = 1, inplace = True)
driver_standings.rename(columns={'driver': 'driverID'}, inplace=True)
driver_standings.head()

   season  round driverID  driver_points  driver_wins  driver_standings_pos
0    1990      1    senna            0.0          0.0                   0.0
1    1990      1    alesi            0.0          0.0                   0.0
2    1990      1  boutsen            0.0          0.0                   0.0
3    1990      1   piquet            0.0          0.0                   0.0
4    1990      1   modena            0.0          0.0                   0.0

In [23]:
constructor_standings.drop(['constructor_points_after_race', 'constructor_wins_after_race','constructor_standings_pos_after_race' ],axis = 1, inplace = True)
constructor_standings.rename(columns={'constructor': 'constructorID'}, inplace=True)
constructor_standings.head()

,season,round,constructorID,constructor_points,constructor_wins,constructor_standings_pos
0,1990,1,mclaren,0.0,0.0,0.0
1,1990,1,tyrrell,0.0,0.0,0.0
2,1990,1,williams,0.0,0.0,0.0
3,1990,1,benetton,0.0,0.0,0.0
4,1990,1,brabham,0.0,0.0,0.0

In [24]:
weather.head()

,season,round,circuitID,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1990,1,phoenix,Cloudy and cool with temperatures reaching up ...,0,1,0,0,1
1,1990,2,interlagos,"Hot, dry, sunny",1,0,0,0,0
2,1990,3,imola,"Warm, dry, sunny",1,0,0,0,0
3,1990,4,monaco,"Warm, dry, sunny",1,0,0,0,0
4,1990,5,villeneuve,Warm and cloudy with temperatures approaching ...,1,0,0,0,1

In [25]:
df1 = pd.merge(races, weather, how='inner', on=['season', 'round', 'circuitID']).drop(['url', 'date', 'raceName', 'weather'], axis=1)
df1.head()

,season,round,circuitID,country,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1990,1,phoenix,USA,0,1,0,0,1
1,1990,2,interlagos,Brazil,1,0,0,0,0
2,1990,3,imola,Italy,1,0,0,0,0
3,1990,4,monaco,Monaco,1,0,0,0,0
4,1990,5,villeneuve,Canada,1,0,0,0,1

In [26]:
df2 = pd.merge(df1, results, how='inner', on=['season', 'round'])
df2.head()

,season,round,circuitID,country,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,number,...,positionText,grid,points,driverID,driver,nationality,constructorID,constructor,laps,status
0,1990,1,phoenix,USA,0,1,0,0,1,27,...,1,5,9.0,senna,Ayrton Senna,Brazilian,mclaren,McLaren,72,Finished
1,1990,1,phoenix,USA,0,1,0,0,1,4,...,2,4,6.0,alesi,Jean Alesi,French,tyrrell,Tyrrell,72,Finished
2,1990,1,phoenix,USA,0,1,0,0,1,5,...,3,9,4.0,boutsen,Thierry Boutsen,Belgian,williams,Williams,72,Finished
3,1990,1,phoenix,USA,0,1,0,0,1,20,...,4,6,3.0,piquet,Nelson Piquet,Brazilian,benetton,Benetton,72,Finished
4,1990,1,phoenix,USA,0,1,0,0,1,8,...,5,10,2.0,modena,Stefano Modena,Italian,brabham,Brabham,72,Finished

In [27]:
df3 = pd.merge(df2, driver_standings, how='left', on=['season', 'round', 'driverID'])
df3.head()

,season,round,circuitID,country,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,number,...,driverID,driver,nationality,constructorID,constructor,laps,status,driver_points,driver_wins,driver_standings_pos
0,1990,1,phoenix,USA,0,1,0,0,1,27,...,senna,Ayrton Senna,Brazilian,mclaren,McLaren,72,Finished,0.0,0.0,0.0
1,1990,1,phoenix,USA,0,1,0,0,1,4,...,alesi,Jean Alesi,French,tyrrell,Tyrrell,72,Finished,0.0,0.0,0.0
2,1990,1,phoenix,USA,0,1,0,0,1,5,...,boutsen,Thierry Boutsen,Belgian,williams,Williams,72,Finished,0.0,0.0,0.0
3,1990,1,phoenix,USA,0,1,0,0,1,20,...,piquet,Nelson Piquet,Brazilian,benetton,Benetton,72,Finished,0.0,0.0,0.0
4,1990,1,phoenix,USA,0,1,0,0,1,8,...,modena,Stefano Modena,Italian,brabham,Brabham,72,Finished,0.0,0.0,0.0

In [28]:
df4 = pd.merge(df3, constructor_standings, how='left', on=['season', 'round', 'constructorID'])
df4.head()

,season,round,circuitID,country,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,number,...,constructorID,constructor,laps,status,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos
0,1990,1,phoenix,USA,0,1,0,0,1,27,...,mclaren,McLaren,72,Finished,0.0,0.0,0.0,0.0,0.0,0.0
1,1990,1,phoenix,USA,0,1,0,0,1,4,...,tyrrell,Tyrrell,72,Finished,0.0,0.0,0.0,0.0,0.0,0.0
2,1990,1,phoenix,USA,0,1,0,0,1,5,...,williams,Williams,72,Finished,0.0,0.0,0.0,0.0,0.0,0.0
3,1990,1,phoenix,USA,0,1,0,0,1,20,...,benetton,Benetton,72,Finished,0.0,0.0,0.0,0.0,0.0,0.0
4,1990,1,phoenix,USA,0,1,0,0,1,8,...,brabham,Brabham,72,Finished,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# fill null values with 0 only for feature that are probably miscalculated, drop other nans
for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 'constructor_wins', 'constructor_standings_pos']:
    df4[col] = df4[col].fillna(0)
    df4[col] = df4[col].astype(int)

df4.dropna(inplace=True)

In [30]:
df4.drop(['driver', 'constructor', 'number'], axis=1, inplace=True)

In [31]:
# convert to boolean

for col in ['weather_warm', 'weather_cold','weather_dry', 'weather_wet', 'weather_cloudy']:
    df4[col] = df4[col].map(lambda x: bool(x))

In [32]:
df4.head()

,season,round,circuitID,country,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,position,...,nationality,constructorID,laps,status,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos
0,1990,1,phoenix,USA,False,True,False,False,True,1,...,Brazilian,mclaren,72,Finished,0,0,0,0,0,0
1,1990,1,phoenix,USA,False,True,False,False,True,2,...,French,tyrrell,72,Finished,0,0,0,0,0,0
2,1990,1,phoenix,USA,False,True,False,False,True,3,...,Belgian,williams,72,Finished,0,0,0,0,0,0
3,1990,1,phoenix,USA,False,True,False,False,True,4,...,Brazilian,benetton,72,Finished,0,0,0,0,0,0
4,1990,1,phoenix,USA,False,True,False,False,True,5,...,Italian,brabham,72,Finished,0,0,0,0,0,0

In [33]:
df4.to_csv('data/processed_data.csv', index=False)